* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Jost', sans-serif;
    padding-top: 64.85px;
    padding-right: 165px;
    padding-left: 165px;
}

.header {
    width: 1111px;
    margin-bottom: 67px;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .logo .logotip img {
    width: 152.32px;
    margin-right: 635px;
}

.header .navbar {
    width: 370px;
}

.header .navbar .list {
   display: flex;
   flex-direction: row;
   align-items: center;

   gap: 42px;
}



.list .list-item {
    list-style: none;
}

.list-item a {
    text-decoration: none;

    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    

color: #333136;
text-transform: uppercase;

transition: all 0.5s;
}

.list-item a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.hero {
    width: 1111px;
    border: none;
    border-radius: 15px;
    background-color: #E7816B;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 64px 191px 64px 191px;
}

.hero .title {
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    
    color: #FFFFFF;

    text-transform: uppercase;
}

.hero .subtitle {
    width: 400px;
    font-family: ' Jost', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;

color: #FFFFFF;
}

.hero-2 {
    width: 1110px;
    margin-top: 160px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;
}

.hero-2 .first-cards {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;
}

.hero-2 .second-cards {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;
}

.first-cards .card {
    border: none;
    border-radius: 15px;
}

.card .card-info {
    background-color: #fdf3f0;
    padding: 32px 32px 32px 32px;
    align-items: center;

    transition: all 0.5s;
}

.card .card-info:hover {
 background-color: #E7816B;
}

.card .card-info:hover .topic {
    color: #FFFFFF;
}

.card .card-info:hover .paragraph {
    color: #FFFFFF;
}

.card-info .topic {
    font-family: ' Jost', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 5px;
text-align: center;

color: #E7816B;
margin-bottom: 16px;

text-transform: uppercase;
}

.card-info .paragraph {
    width: 286px;
    font-family: 'Jost', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;

color: #333136;
}

.offers {
    width: 1112px;
    margin-top: 160px;
}

.container-hero-3 {
display: flex;
flex-direction: row;
align-items: center;

gap: 30px;
}

.app-design .name-app {
    font-family: 'Jost', sans-serif;
font-size: 40px;
font-weight: 500;
line-height: 48px;
letter-spacing: 2px;
text-align: center;

color: #FFFFFF;
text-transform: uppercase; 
margin-bottom: 24px;
}

.app-design .viewprojects {
    font-family: 'Jost', sans-serif;
font-size: 15px;
font-weight: 500;
line-height: 21.68px;
letter-spacing: 5px;
text-align: left;

text-transform: uppercase;
color: #FFFFFF;
}

.offers .app {
    width: 541px;
    height: 308px;
   
    background-image: url(../images/app.png);
    background-repeat: no-repeat;

    align-items: center;
    padding: 107px 88px 107px 88px;
}

.app .name {
    font-size: 40px;
font-weight: 500;
line-height: 48px;
letter-spacing: 2px;
text-align: center;
text-transform: uppercase;

margin-bottom: 24px;

color: #FFFFFF;
}

.app .link {

    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    letter-spacing: 5px;
    text-align: center;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.offers .design {
    width: 541px;
    height: 308px;
    
    background-image: url(../images/design.png);
    background-repeat: no-repeat;

    align-items: center;
    padding: 107px 143px 107px 143px;
    grid-column: 2 / 3 ;
    grid-row: 2 / 3 ;
    position: relative;
    bottom: 332px;

    position: absolute;
    top: 1725px;
    left: 750px;
}

.offers .design:hover {
    background-image: #E7816B;
}

.design .name {
   width: 380px;

    font-size: 35px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 24px;
    color: #FFFFFF;

    position: relative;
    right: 50px;
}

.design .link {
    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    letter-spacing: 5px;
    text-align: center;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.submit {
    width: 1111px;
    background-color: #E7816B;
    border: none;
    border-radius: 15px;
    padding: 72px 96px 46px 95px;

    position: absolute;
    top: 2300px;
}

.container-submit {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 309px;
}

.submit-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.submit-info .submit-title {
    width: 268px;
    font-family: 'Jost', sans-serif;
font-size: 40px;
font-weight: 500;
line-height: 40px;

color: #FFFFFF;
}

.submit-info .submit-subtitle {
    width: 459px;

    font-family: 'Jost' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 10px;
   
    color: #FFFFFF;
    
}

.submit-btn {
    width: 152px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;

    padding: 17px 19px 17px 19px;
    transition: all 0.5s;
}

.submit-btn:hover {
    background-color: #FFAD9B;
}

.submit-btn p {
width: 155px;

    font-family: 'Jost', sans-serif;
font-size: 15px;
font-weight: 500;
line-height: 21.68px;
letter-spacing: 1px;
text-align: left;

color: #333136;

text-transform: uppercase;
transition: all 0.5s;
}

.submit-btn:hover p {
    color: #FFFFFF;
}

.footer {
    width: 1440px;
    height: 393px;
    background-color: #1D1C1E;
    margin-top: 350px;

    position: absolute;
    top: 2150px;
    right: 0px;

    z-index: -1;
}

.footer-top {
    width: 1111px;

    margin-top: 140px;
    margin-left: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 539px;
}

.footer-top .navbar {
width: 370px;
}

.navbar .footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
}

.footer-list .footer-list-item {
list-style: none;
}

.footer-list-item a {
    font-family: 'Jost', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 2px;
text-align: left;
text-decoration: none;

text-transform: uppercase;

color: #FFFFFF;;
}

.footer-list-item a:hover {
    text-decoration: underline;
}

.horizont {
    color: #FFFFFF;
    width: 1111px;
    margin-top: 40px;
    margin-left: 260px;
    margin-bottom: 31px;
}

.footer-bottom {
    width: 1111px;

    display: flex;
    flex-direction: row;
    align-items: start;
}

.footer-bottom .adress {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-left: 260px;
    margin-right: 180px;
}

.adress .c-name {
    font-family: 'Jost', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 26px;
text-align: left;

color: #FFFFFF;
}

.adress .zip-adress {
    width: 200px;
    font-family: 'Jost', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;

color: #FFFFFF;
}

.footer-bottom .contact {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact p {
    width: 250px;
    font-family: 'Jost', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 26px;
text-align: left;

color: #FFFFFF;

}

.social-media {
    margin-left: 270px;
    margin-top: 50px;
}

@media  screen and (max-width: 1242px) {
    .container-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        gap: 300px;
    }

    .header .logo .logotip img {
        margin-right: 335px;
    }

    body {
        padding-top: 64.85px;
        padding-right: 65px;
        padding-left: 65px;
    }
}

@media screen and (max-width: 992px) {
    body {
        background-color: #FFFFFF;
        font-family: 'Jost', sans-serif;
        padding-top: 64px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .container-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        gap: 1px;
    }

    .hero {
        width: 689px;
    }
}

@media  screen and (max-width: 768px) {
    body {
        background-color: #FFFFFF;
        font-family: 'Jost', sans-serif;
        padding-top: 35px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .header .navbar {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .container-header {
        gap: 101px;
    }

    .header .logo .logotip img {
        width: 202px;
        margin-right: -10px; 
    }

    .header {
    margin-left: 124px;
    margin-right: 124px;
    width: 325px;
    margin-bottom: 34px;
    }

    .hero {
        width: 375px;
    }
}